<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <h1>
            Welcome to <%=title%>
        </h1>
        <ul>
            <%for(var i = 0; i < nav.length; i++){%>
               <li> 
               <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
               </li> 
            <%}%>
        </ul>
    </body>
</html>    
    